.character-card {
    border: 1px solid grey;
    border-radius: 0.25rem;
    padding: 0.5rem;
   width: 190px;
    margin-right: 16px;

    img {
        width: 100px;
        margin: 0 auto;
        display: block;
    }
}